.create-card-screen {
    height: 100vh;
    background-color: D2FFFF;
    min-height: 100vh;
}

.create-card-screen .main-create {
    width: 1520;
    margin: 30px auto;
    display: flex;
    padding-bottom: 30px;
}
.create-card-screen .main-create .create-collection-card {
    width: 350px;
    height: 550px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: FFE500;
    margin-top: 38px;
    border: 1px solid rgba(159, 244, 178, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.create-card-screen .main-create .create-card-main {
    width: 1000px;
    margin: 39px 0px 0px 38px;
    background: #FFFFFF;
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.create-card-screen .main-create .create-card-main .card {
    margin: 43px;
    display: flex;
    justify-content: space-around;
}
.create-card-screen .main-create .create-card-main .card .font-card {
    width: 425px;
    height: 500px;
    /* width: 557px; */
    background: #FFE500;
    box-shadow: 2px -4px 4px rgba(0, 0, 0, 0.1), -2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}
.create-card-screen .main-create .create-card-main .card .back-card {
    width: 425px;
    height: 500px;
    /* width: 557px; */
    background: #FFE500;
    box-shadow: 2px -4px 4px rgba(0, 0, 0, 0.1), -2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.create-card-screen .main-create .create-collection-card .image-colection {

}
.create-card-screen .main-create .create-collection-card .input-wrapper input {
    width: 90%;
    padding: 10px 13px;
    height: 55px;
    font-size: 30px;
    margin: 20px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}
.create-card-screen .main-create .create-collection-card input[type="file"] {
    width: 275px;
    height: 271px;
    border-radius: 20px;
    margin: 35px;
    position: absolute;
    opacity: 0;
}
.create-card-screen .main-create .create-collection-card img {
    width: 275px;
    height: 271px;
    border-radius: 20px;
    margin: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.create-card-screen .main-create .create-card-main .card .font-card .image-card input[type="file"] {
    width: 260px;
    height: 266px;
    position: absolute;
    margin: 42px 42px 0px 42px;
    opacity: 0;
    
}
.create-card-screen .main-create .create-card-main .card .font-card img {
    width: 260px;
    height: 266px;
    margin: 42px 42px 0px 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.create-card-screen .main-create .create-card-main .card  .main-vocab .input-vocab input[type="text"]{
    width: 300px;
    height: 50px;
  
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px;
    font-size:40px;
}
.create-card-screen .main-create .create-card-main .card  .main-vocab .sound {
    padding: 20px 20px 20px 20px;
}
.create-card-screen .main-create .create-card-main .card .main-vocab {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-card-screen .main-create .create-card-main .card .font-card .main-vocab input[type="file"] {
    width: 18px;
    font-size: 16px;
    position: absolute;
    opacity: 0;
}
.create-card-screen .main-create .create-card-main .card .font-card .main-vocab .pronuncitaion {
    display: flex;
    margin-top: 10px;
   
}
.create-card-screen .main-create .create-card-main .card .image-card {
    margin-bottom: 20px;
}

.create-card-screen .main-create .create-card-main .card .font-card .main-vocab input[type="text"] {
    height: 20pxx;
    border: 1px solid;
    border-radius: 20px;
    padding-left: 10px;
}

.create-card-screen .main-create .create-card-main .card .back-card input[type="text"] {
    margin: 20px;
    width: 90%;
    height: 50px;
    padding: 20px;
    font-size: 20px;
    border: 1px solid;
}
.btn-create{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 140px;
    background-color: blue;
}
.btn-create:hover{
    background-color: rgb(79, 79, 241);
}
.create-card-screen .main-create .create-card-main button i{
    font-size: 60px;
}
.btn-add-card{
    margin-left: 450px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn-add-example{
    margin-left:180px;
    background-color: #FFE500;
}